* {
  box-sizing: border-box;
}


.logo {
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
}

body {
display: flex;
flex-wrap: nowrap;
font-family: 'Nunito', sans-serif;
justify-content: center;
}

h1 {
  font-weight: 100;
  justify-content: center;
}


ul {
    margin: none;
    display: inline;
}

li {
    list-style: none;
    display: inline;
    margin-right: 5px;
    font-size: 19px;
}

.socket {
  font-family: 'DM Mono';
}

li:hover {
    border-bottom: 2px dotted;
    color: rgba(104, 189, 149, 0.616);

}

.container {
  width: 100vw;
    min-height: 80vh;
    max-height: 100%;
    margin: auto;
    margin-top: 5px;
    padding: 20px;
}

.main {
    width: 100%;
    min-height: 50vh;
    max-height: 100%;
    background-color: rgba(104, 189, 149, 0.103);
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    color: rgb(83, 83, 83);
}


.intro {
  display: flex;
  flex-direction: column;
}


.dot {
  max-width: 100%;
  max-height: 100%;

}

p {
  margin: 4px 0;
}

.gazette {
  max-width: 90%;
  max-height: 90%;
  
}

.upcoming .card-front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

/*CARDS*/
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  perspective: 1000px;
  margin: 1em 0;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(236, 124, 142, 0.2);
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  

  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: #ee737d50;
    margin: 0 auto;
    color: white;
    transform: rotateY(180deg);
  }

footer {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    color: grey;
}

a:link {
  text-decoration: none;
  color: inherit;
}

.coming {
  text-decoration: line-through;
}

.github:hover {
  color: magenta;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

a:active {
 color: rgba(104, 189, 149, 0.616);
}


/*Animation */

.animated {
    font-family: "Comfortaa";
    font-size: 6rem;
    color: rgba(209, 233, 243, 0.534);
    background-image: url("hicliparttwo.com.png");
    background-size: 130px;
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: repeat-x;
    animation: water 8s linear infinite;
  }
  
  
  /*ZARA STYLING SPLASH LOGO*/
  
  @keyframes water {
    from {
      background-position: left 0 top 0;
    }
    to {
      background-position: left 800px top 0;
    }
  }
  

  @media screen and (max-width: 500px) {
    ul {
        display: block;
       }

    .animated {
      font-size: 3rem;
      background-size: 80px;
    }

    .card {
      width: 200px;
      height: 100px;
    }
  }