.logo {
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
}

body {
font-family: 'Nunito', sans-serif;
margin: 20px;
justify-content: center;
}

h1 {
  font-weight: 100;
  margin: 20px;
}

p {
  margin: 20px;
}

ul {
    margin: none;
    display: inline;
}

li {
    list-style: none;
    display: inline;
    margin-right: 5px;
    font-size: 19px;
}

li:hover {
    border-bottom: 2px dotted;
    color: magenta;

}

.container {
  width: 80vw;
    height: 80vh;
    margin: auto;
    margin-top: 5px;
    padding: 20px;
}

.main {
    width: 80vw;
    height: 70vh;
    background-color: rgba(104, 189, 149, 0.103);
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    color: rgb(83, 83, 83);
}

.projectbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.project {
 background-color: rgb(255, 255, 255);
 width: 350px;
 height: 170px;
 margin: 20px;
 color: rgb(78, 42, 42);
 border-radius: 6px;
 border: 1px dashed white;
 text-align: center;
}

.project:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-color: skyblue;
}

footer {
    position: relative;
    top: 50px;
    bottom: 0;
    text-align: center;
    color: grey;
}

a:link {
  text-decoration: none;
  color: inherit;
}


.github:hover {
  color: magenta;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: skyblue;
}

a:active {
 color: yellow;
}






.animated {
    margin: 30px auto 10px auto;
    font-family: "Comfortaa";
    font-size: 6rem;
    color: rgba(209, 233, 243, 0.534);
    background-image: url("hicliparttwo.com.png");
    background-size: 130px;
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: repeat-x;
    animation: water 8s linear infinite;
  }
  
  
  /*ZARA STYLING SPLASH LOGO*/
  
  @keyframes water {
    from {
      background-position: left 0 top 0;
    }
    to {
      background-position: left 800px top 0;
    }
  }
  